name: test-javascript

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-javascript:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version: ['18.x', '20.x', '22.x', '23.x']

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: mymindstorm/setup-emsdk@v14
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          # See https://github.com/tree-sitter/tree-sitter/blob/v0.24.6/cli/loader/emscripten-version
          # (choose the Git tag that corresponds to the version of web-tree-sitter specified in package.json) 
          # Should be kept in sync with .github/workflows/release-npm.yml
          version: 3.1.64
      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
        if: ${{ matrix.os != 'windows-latest' }}
      - run: npm ci --no-optional
        if: ${{ matrix.os == 'windows-latest' }}
      - run: npm test
      - run: npm run eslint
