name: test-javascript

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-javascript:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version: ['18.x', '19.x', '20.x']

    steps:
      - name: set git core.autocrlf to 'input'
        run: git config --global core.autocrlf input
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: mymindstorm/setup-emsdk@v14
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          # See https://github.com/tree-sitter/tree-sitter/blob/master/cli/emscripten-version
          version: 3.1.64
      - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
        if: ${{ matrix.os != 'windows-latest' }}
      - run: npm ci --no-optional
        if: ${{ matrix.os == 'windows-latest' }}
      - run: npm test
      - run: npm run eslint
